<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>नौकरी का विवरण</title>


    <!-- component -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet"
        href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <script src="https://kit.fontawesome.com/9a687040e3.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="pt-16" style="background-color: #f2f6fd;">
        <div class="w-11/12 lg:w-4/12 mx-auto">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16">
                <div class="px-6">
                    <div class="text-center mt-12" style="font-family: 'Catamaran', sans-serif;">
                        <h3 class="text-2xl font-bold leading-normal mb-4 text-blueGray-700 mb-2"
                            style="font-family: 'Ubuntu', sans-serif;">
                            नौकरी का विवरण                        </h3>
                        <div class="mb-2 text-blueGray-600">
                            <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
                            नौकरी का स्थान                        </div>
                        <div class="mb-2 text-blueGray-600">
                            <i class="fa-regular fa-clock mr-2 text-lg text-blueGray-400"></i>
                            नौकरी की अवधि                        </div>
                        <div class="mb-2 text-blueGray-600">
                            <i class="fa-sharp fa-solid fa-coins mr-2 text-lg text-blueGray-400"></i>
                            दैनिक मजदूरी                        </div>
                        <div class="mb-2 text-blueGray-600">
                            <i class="fa-solid fa-circle fa-exclamation mr-2 text-lg text-blueGray-400"></i>
                            शामिल जोखिम                        </div>
                    </div>
                    <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
                        <div class="flex flex-wrap justify-center">
                            <div class="w-full lg:w-9/12 px-4">
                                <p class="mb-4 text-lg"><span class=" text-left text-xl font-bold">नियोक्ता का नाम
                                        -</span>एम्प्लोयर का नाम</p>
                                <p class="mb-4 text-lg leading-relaxed text-blueGray-700"
                                    style="font-family: 'Catamaran', sans-serif;">
                                    लोरेम इप्सम डोलर सिट एमेट, कॉन्सेक्टेटूर एडिपिसिसिंग एलीट। फेसेलस एसी बिबेंडम एलीट।
                                    ननक ओर्सी टॉरटोर, वल्पुटेट वेल कॉन्डिमेंटम विटे, ग्रेविडा सिट एमेट ऑग। कर्मचारी
                                    इरेट वॉलटपैट। एटियम एट टेम्पोर सेपियन, आईडी कॉन्वलिस मील। प्रेजेंट सिट एमेट कॉन्ग्यू
                                    एलीट, विटे सेम्पर लियो।
                                </p>
                                <div>
                                    <button type="submit" style="font-family: 'Catamaran', sans-serif;" name="button"
                                        class="w-full flex justify-center bg-sky-500  hover:bg-sky-600 text-gray-100 p-3  rounded-lg tracking-wide font-bold text-gray  cursor-pointer transition ease-in duration-200 mt-2">नौकरी के लिए आवेदन</button>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="relative  pt-8 pb-6 mt-8">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center md:justify-between justify-center">
                    <div class="w-full md:w-6/12 px-4 mx-auto text-center">
                        <div class="text-sm text-blueGray-500 font-semibold py-1">
                            <!-- Made with <a href="https://www.creative-tim.com/product/notus-js" class="text-blueGray-500 hover:text-gray-800" target="_blank">Notus JS</a> by <a href="https://www.creative-tim.com" class="text-blueGray-500 hover:text-blueGray-800" target="_blank"> Creative Tim</a>. -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</body>

</html>